system/system/priv-app/Browser/Browser.apk
system/system/priv-app/SDKStage/SDKStage.apk
modem.img
product/custom/3rd-party/apk/BaiduNetDisk/BaiduNetDisk.apk
product/priv-app/GmsCore/GmsCore.apk
product/app/WebViewGoogle/WebViewGoogle.apk
